.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  margin-right: 0.5rem;
  pointer-events: auto;
}
.btn-group > .btn {
  position: relative;
  flex: 1 1 auto;
}
.btn-group > .btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:not(:first-child) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn {
  display: inline-block;

  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;

  vertical-align: middle;
  user-select: none;

  padding: 0.5rem 1rem;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.3rem;

  transition: color 150ms ease-in-out, background-color 150ms ease-in-out,
    border-color 150ms ease-in-out, box-shadow 150ms ease-in-out,
    position 150ms ease-in-out;
}
.btn > * > svg {
  width: 1.25rem;
}
.btn:active > * {
  transform: translateX(1px);
}

.slider {
  margin-top: 50px;
  -webkit-appearance: none;
  width: var(--length);
  height: 15px;
  border: 1px solid transparent;
  border-radius: 0.3rem;color: var(--text-primary-dark) !important;
  background-color: var(--bg-primary-dark) !important;
  border-color: var(--btn-primary-dark) !important;
  background: #3d3d3d;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
  --length: 100px;
  transform: rotate(-90deg);
}

.dropup {
  display: flex;
}
.dropup-content {
  display: flex;
  visibility: hidden;
  position: absolute;
  bottom: 50px;
  width: 3.4rem;
  height: 115px;
  border: 1px solid transparent;
  border-radius: 0.3rem;color: var(--text-primary-dark) !important;
  background-color: var(--btn-primary-dark) !important;
  border-color: var(--btn-primary-dark) !important;
  margin: 0px;
  z-index: 1;
  justify-content: center;
  transition-delay:0.5s;
}
.dropup:hover .dropup-content {
  visibility: visible;
  transition-delay: 0s;
}

.btn-dropup-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-dropup-middle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
