/* Temporary style for debugging purpose */

/****************************************/

#app > .container-fluid {
  position: absolute;
  top: 0;
  height: 100vh;
}
.container-fluid {
    height: 100%;
}

.toolbar {
    --transition-speed: 500ms;
    --default-height: 0px;
    --hovering-height: 7rem;
    --hovering-video-height: 6rem;

    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: var(--default-height);
    transition: height var(--transition-speed) ease-in-out;
}

.overlay-video {
    position: absolute;
    right: 0px;
    bottom: var(--default-height);
    margin: 1.5rem;
    padding: 5px;
    width: 20%;
    transition: bottom var(--transition-speed) ease-in-out;
    z-index: 2;
}

.mirror-y {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.user-video {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 1.5rem;
  padding: 5px;
  width: 20%;
  z-index: 3;
}

.participants-enter-active,
.participants-leave-active {
  transition: all 500ms ease;
}
.participants-enter-from,
.participants-leave-to {
  transform: translate(20rem);
}

.telepresence-joystick {
  opacity: 0.5;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 1.5rem;
  z-index: 4;
}

.center-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.fluid {
  height: 100%;
  width: 100%;
}

.col-flexbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  height: 100%;
}

.row-flexbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.col100 {
  width: 100%;
}
.col66 {
  width: 66%;
}
.col33 {
  width: 33%;
}
.row50 {
  height: 50%;
  width: 100%;
}

.row100 {
  height: 100%;
  width: 100%
}

.gutter {
  padding: 0.125rem 0.25rem;
}

.pad {
  padding: var(--gutter-x) var(--gutter-y);
}
