.span {
  position: relative;
  display: flex;
  flex-direction: inherit;
  flex-wrap: nowrap;
  text-align: left;
  --background-color: darkgrey;
  --hover-background-color: grey;
  --border-color: grey;
  --select-text-color: white;
  --select-font-size: 0.8rem;
  --select-font-weight: 400;
  --select-width: auto;
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
}

.label {
  position: relative;
  padding: 0.7rem 0.5rem 0.5rem 0.1rem;
  white-space: nowrap;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.select {
  position: relative;
  padding: 0.5rem 0.1rem;
  font-size: var(--select-font-size);
  font-weight: var(--select-font-weight);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: var(--border-color);
  color: var(--select-text-color);
  background-color: var(--background-color);
  width: var(--select-width);
}

.select:hover {
  background-color: var(--hover-background-color);
}

.select:disabled {
  background-color: gray;
  border-color: rgb(71, 71, 71);
  cursor: auto;
}
