.battery-indicator {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    height: 1.5rem;
    width: 2.5rem;
    box-sizing: border-box;
    --fill-color: white;
    --border-color: white;
    --font-size: 80%;
}

.battery {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 75%;
}

.top {
  background: var(--fill-color);
  width: 40%;
  height: 15%;
  border-radius: 1px 1px 0 0;
  margin-bottom: 0px;
}

.outer {
  width: 100%;
  border: 1px solid var(--border-color);
  height: 85%;
  border-radius: 0.125rem;
  display: flex;
  flex-direction: column;
}

.inner {
  background: var(--fill-color);
  flex: 1;
}

.inner.hidden {
  visibility: hidden;
}

.percentage {
  display: inline-flex;
  font-size: var(--font-size);
}