.user-video {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 1.5rem;
  padding: 5px;
  width: 20%;
  z-index: 3;
}

.mirror-y {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}