.user-video {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 1.5rem;
  margin-bottom: 3.8rem;
  padding: 5px;
  width: 300px;
  z-index: 3;
  cursor: pointer;
}

.mirror-y {
  transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
}

.top-left {
  top: 3rem;
  left: 0px;
}
