.slidercontainer {
  position: absolute;
  right: 0px;
  bottom: 300px;
  --length: 150px
}

.slider {
  -webkit-appearance: none;
  width: var(--length);
  height: 15px;
  border-radius: 5px;
  background: #3d3d3d;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
  --length: 200px;
  transform: rotate(-90deg);
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4682B4;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4682B4;
  cursor: pointer;
}

.text {
  transform: translateY(100px)
}
